*{
    box-sizing: border-box;
}
body {
    background-image: url(./images/all.png);
    background-size: no-repeat, repeat;
}

/* <link href="https://fonts.googleapis.com/css?family=Allura|Noto-Sans-KR" rel="stylesheet">
font-family: 'Allura';
font-family: 'Noto-Sans-KR'; */

h1 {
    font-family: Allura; 
    font-size: 80px;
 }
h2 {
    font-family: noto-sans-kr; 
    font-size: 80px;
 }
h3 {
   font-family: Allura; 
   font-size: 30px;
}

.bees {
    
}