*{
    box-sizing: border-box;
}
body {
    background-image: url(images/all.png);
    background-repeat: no-repeat;
}
body.about {
    background-image: url(images/sidepages.png);
    background-repeat: no-repeat;
}

/* <link href="https://fonts.googleapis.com/css?family=Allura|Noto-Sans-Bengali" rel="stylesheet">
font-family: 'Allura';
font-family: 'Noto-Sans-KR';
noto-sans-bengali */

h1 {
    font-family: allura; 
    font-size: 80px;
 }
h2 {
    font-family: noto-sans-bengali, sans-serif;
    font-size: 80px;
 }
h3, header {
   font-family: allura; 
   font-size: 30px;
}
p {
    font-family: noto-sans-bengali, sans-serif;
}

.pot {
/* position: absolute;
    bottom: 0;
    right: 0; */
    position: fixed;
    bottom: -100px;
    right: -10px;
}

.homepot {
    position: absolute;
    bottom: 0;
    right: 0;
}

.topbees{
    position: absolute;
    top:0;
}

.bees{
    padding:4px;
    columns: 2px 2;
}