@import 'https://fonts.googleapis.com/css?family=Rubik+Mono+One';
body {
  background: #264653;
  overflow-x: hidden;
  font-family: 'rubik mono one', sans-serif;
  padding: 200px;
  /* 120px*/
  text-align: center;
}

.words { 
  color:#264653;
  /* color:#264653; */
  font-size: 0;
  line-height: 1;
}
.words span { 
    font-size: 120px;
    display: inline-block;
    -webkit-animation: move 2s ease-in-out infinite;
            animation: move 2s ease-in-out infinite;
}
.words span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.words span:nth-child(3) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}
.words span:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes move { 
  0% {
    -webkit-transform: translate(-33%, 0);
            transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px #1FBFFF;
    /* text-shadow: 0 15px 40px rgba (0, 0, 0, 0.6); #FF385F*/
  }
  100% {
    -webkit-transform: translate(33%, 0);
            transform: translate(33%, 0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(-33%, 0);
            transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px #1FBFFF;
    /* text-shadow: 0 15px 40px rgba (0, 0, 0, 0.6);*/
  }
  
  100% {
    -webkit-transform: translate(33%, 0);
            transform: translate(33%, 0);
  }
}
  * {
    box-sizing: border-box;
  }

.grid {
  display: flex;
  font-family:'rubik mono one', sans-serif
}

.grid div {
  flex: 1;
  height: 200px;
  background-color: #cccccc;
  margin: 200px 20px 20px 20px;
}

.grid .one {
  background-color: #2a9d8f;
  color: rgba(24, 89, 82, 0.4)
  /* color: #185952; */ 
}

.grid .two {
  background-color: #e9c46a;
  color:rgba(181, 153, 81, 0.4)
  /* color: #B59951; */
}

.grid .three {
  background-color: #f4a261;
  color: rgba(181, 121, 72, 0.4)
  /* color: #B57948; */
}

.grid .four {
  background-color: #e76f51;
  color: rgba(181, 87, 63, 0.4)
  /* color: #B5573F; */
}

.type {
  display: flex;
}

.type div {
  flex: 1;
  /* height: 200px; */
  margin: 10px;
  /* margin: 200px 20px 20px 20px; */
  left: 200px;
  text-align: left;
  position: absolute;

}