/* website font 
font-family: Helvetica, 'Helvetica Neue', arial, serif; 
Want to use:
font-family: 'Hanuman';
font-family: 'Nunito';
*/

*{box-sizing: border-box;}

body {
    font-family: 'hanuman';
    font-size: 19px;
    margin:auto;
    width:100%;
    color: #000000
  }

h2 {
    font-family: 'nunito';
    font-size: 32px;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #002855;
}
.title-type {
    font-family: 'nunito';
    font-weight: bold;
    font-size: 27px;
}
img, .main-img, main {
  width: 100%;
}
main {
    display: block;
    width: 100%;
}

.logo{
    display:block;
    height:170px;
    width:80px;
    margin: 10px 0 0 3px;
} 
.title-type{
    display: flex;
    width: auto;
    margin: -90px 0 0 10px;
    margin-bottom: 14px;
}

body {
    background: linear-gradient(-45deg, #6096ba, #7ab1e6, #98d5df, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }