* {
    box-sizing: border-box;
/*
font-family: 'Walter-Turncoat';
font-family: 'Sintony'; */

  }
  body {
    font-family: sintony;
    font-size: 20px;
    line-height: 24px;
    background-color: rgba(255, 179, 255, 1);
  }

  h1, 
  h2, 
  h3,
  h4 {
      font-family: walter-turncoat;
  }
  h1 {
      font-size: 60px;
      line-height: 68px;
      margin-bottom: 20px;
  }
  h2 {
      font-size: 32px;
      line-height: 36px;
      margin-top: 16px;
  }
  h3 {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 12px;
      font-weight: bold;
  }
  
  h4 {
      font-size: 24px;
      line-height: 28px;
      margin-top: 16px;
      margin-bottom: 12px;
  }

  header,
  main {
    width: 85%;
    margin: 25px auto;
  }
  main {
    background-color: rgb(255, 97, 255, .3);
    padding: 20px;
  }

  .story {
    display: flex;
    margin-bottom: 20px;
  }
  
  .story .left {
    flex: 2;
    /*margin: 25px; */
    padding: 20px;
  }
  .story .right {
    flex: 2;
    padding: 20px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery div {
    border: 1px solid rgba(255, 47, 255, 1);
    padding: 1px;
  }
  img {
    width: 100%;
  }

  .gallery div {
    flex: 25%;
  }

  .gallery .one{
    width: 300px;
    height: 550px;
    overflow: hidden;
}
  .gallery .two{
    width: 300px;
    height: 550px;
    overflow: hidden;
}
.gallery .three{
  width: 300px;
  height: 550px;
  overflow: hidden;
}

.gallery .four{
  width: 300px;
  height: 550px;
  overflow: hidden;
}
.gallery .five{
  width: 300px;
  height: 550px;
  overflow: hidden;
}
.gallery .six{
  width: 300px;
  height: 550px;
  overflow: hidden;
}
.gallery .seven{
width: 300px;
height: 550px;
overflow: hidden;
}

.gallery .eight{
width: 300px;
height: 550px;
overflow: hidden;
}

