* {
    box-sizing: border-box;
}
/*
font-family: 'Walter-Turncoat';
font-family: 'Sintony'; */

body {
    font-family: sintony;
}

h1, 
h2, 
h3 {
    font-family: walter-turncoat;
}
h1{
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 20px;
}
h2{
    font-size: 32px;
    line-height: 36px;
    margin-top: 16px;
    margin-bottom: 12px;
}

body {
    background-color: rgba(255, 179, 255, 1);
}

header,
main {
    width: 85%;
    margin: 25px auto;
}
.story {
    display: flex;
    margin-bottom: 10px;
}
.story .left {
    flex: 2;
    /*margin: 25px; */
}
.story .right {
    flex: 3;
}

