* {
  box-sizing: border-box;
}
/* font-family: 'Courgette';
font-family: 'Jockey-One'; */

body {
  font-family: 'inter';
  font-size: 19px;
  margin: 0;
  background-color: #d8e2dc;
  color: #62006e;
}
h1,
h2,
h3 {
  margin: 0;
}
img {
  width: 100%;
}
h1 {
  font-family: 'courgette';
  font-size: 32px;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #5a0581;

}
h2 {
  font-family: 'jockey-one';
  font-size: 19px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  color: #f3a8fd;
  margin-bottom: 10px;
}
header h2 {
  font-weight: bold;
}
.button { 
  font-family: 'courgette'
}

.feature {
  display: flex;
  flex-direction: column;
}
.feature div {
  flex: 1;
}
.feature .content-card{
  width:90%;
  margin:auto;
}
.news-thumbs{
  display: flex;
  flex-direction: column;
}
.newstumbs, article{
  flex: 1;
}
.no-widows {
  display: none;
}
.feature-content {
  padding-left: 10px;
}
header,
.feature-content {
  width: 90%;
  margin: auto;
}
.feature-content, .content-card{
  width:90%;
  margin: auto;
}

/* added this */ 
.content-card{
  width: 90%;
  margin: auto;
}

.extra-content-blurb {
  display: none;
}
.hide-desktop {
  display: block;
}

.button {
  display: inline-block;
  padding: 12px 16px;
  border: 1px solid #5900ff;
  text-decoration: none;
  color: #5900ff;
  margin-bottom: 20px;
}

/* added this */
.div .feature-content2 {
  display: block;
}
/* added this */
p {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body {
  background: linear-gradient(-45deg, #ee7752, #b94b75, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@media only screen and (min-width: 768px) {
  body{
    background-color: #d6e2e9;
  }

  h1 {
    font-size: 60px;
    line-height: 68px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
  }
  header h2 {
    font-weight: bold;
  }
  .feature-content{
    margin:0;
  }
  .feature, .feature-image{
    flex-direction: row;
    width:80%;
    margin:4px auto;
  }
  .feature-content {
    padding-left: 30px;
    margin:0;
  }

  .news-thumbs{
    flex-direction: row;
    width: 80%;
    margin: 25px auto;
  }
  .extra-content-blurb {
    display: block;
  }
  .feature-content {
    width: 90%;
    margin: auto;
  }
  .hide-desktop {
    display: none;
  }
  header {
    width: 80%;
    margin: auto;
  }
  article{
    margin-right: 20px;
  }
  article:last-child{
    margin-right: 0;
  }
   
  .content-card{
    margin: 0;
  }
  .concent-card, .h2{
    line-height: normal;
  }
  h2{
    line-height: 100%;
    margin-top: 10px;
  }
  body {
    background: linear-gradient(-45deg, #ee7752, #b94b75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
}

@media only screen and (min-width: 2400px) {
  .feature, .news-thumbs, header{
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .no-widows {
    display: block;
  }
}

@media only screen and (min-width: 1307px) {
}
